.brandText {
  background-image: linear-gradient(90deg, rgb(239, 46, 239), rgb(239, 126, 239));
  background-color: rgb(239, 126, 239);
  background-clip: text;
  -webkkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

/* use :global() on classes that are not locally scoped
 * such as in internal Boostrap components 
*/
.accountDropdown :global(.nav-link) {
  padding-top: 0px;
  padding-bottom: 0px;
}
